$XS: 480px;
$SM: 768px;
$MD: 1024px;

@mixin mobile {
    @media (max-width: #{$SM - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$SM}) and (max-width: #{$MD - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$MD}) {
        @content;
    }
}

@import '../base/Base.scss';

body {
    background: #f2f4f6;
}

.contain_body {
    position: relative;

    .contain_head_rooms {
        padding-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
            font-weight: bold;
        }

        .line {
            height: 1px;
            width: 60%;
            background-color: rgb(111, 110, 110);

            @include mobile {
                display: none;
            }

            @include tablet {
                width: 50%;
            }
        }
    }

    .contain_filter {
        position: sticky;
        padding-top: 90px;
        top: 0;
        left: 0;

        .category {
            margin: 30px 0;
            line-height: 30px;

            .category_title {
                font-size: 22px;
            }

            .sub_category {
                color: rgb(130, 130, 130);
                margin: 10px 0;
                cursor: pointer;

                &:hover {
                    color: rgb(254, 130, 6);
                }

            }
        }

        .range_price {
            margin: 30px 0;
            line-height: 30px;

            .price_title {
                font-size: 22px;
            }

            p {
                color: rgb(130, 130, 130);
                margin: 10px 0;
            }
        }

        .wrap_clear_filter {
            margin: 30px 0;
            line-height: 30px;
        }
    }

    .ant-card-meta-description {
        display: -webkit-box;
        text-align: justify;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    .ant-card-meta-title {
        display: -webkit-box;
        text-align: justify;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    .contain_price .ant-card-meta-title {
        color: red;
    }

    .img_rooms {
        width: 100%;
        height: 200px;
        transition: all 0.5s ease-in-out;

        &:hover {
            transform: scale(1.08);
        }
    }

    .contain_title_room {

        p {
            margin-bottom: 0;
            width: fit-content;
            position: relative;
            transition: all 1s ease-in-out;
            cursor: default;
            color: #1e293b;

            &:hover {
                transform: translateX(30px);
            }
        }

        .title_room::after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            bottom: 5px;
            left: 0;
            background-color: #1e293b;
        }
    }

    .contain_no_room_found {
        width: 100%;

        .no_room_found {
            font-size: 25px;
            text-align: center;
        }
    }
}