@import '../Base/Base.scss';

.footer {
    background-color: rgb(30 41 59);
    width: 100%;
    padding: 50px;
    margin-top: 50px;

    .contain_copyright {
        margin: 15px 0;

        p {
            color: rgb(244, 202, 147);
            font-size: 15px;
            font-weight: bold;
            margin-top: 30px;
        }
    }

    .item_footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer_contain_logo {
            margin-top: 30px;
        }
    }

    .second_item ul li {
        list-style: none;
        border: none;
        margin: 25px 0;

        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer !important;

            &:hover {
                color: burlywood;
            }
        }
    }

}